#aplicacion{
	width: 100vw !important;
	height: 100dvh !important;
	position: fixed !important;
	transform: none !important;
}

#aplicacion *{
}


.pagina{
	width: 100vw;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem 0;
	background-color: #1434CB;
	background-image: url(/img/mando/fondo.svg);
	background-repeat: no-repeat;
	background-position: 100% 10%;
	background-size: 30% auto;
}

input[type="text"]{
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	max-width: 100%;
	background: #fff;
	font-size: 2rem;
	color: #1434CB;
	text-align: center;
	font-weight: bold;
	outline: none;
	padding: 0.5rem;
	transition: all 0.3s ease-in-out;
}

button{
	border: none;
	border-radius: 0;
	background: #FFCB00;
	color: #1434CB;
	padding: 0.5rem 1.5em;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: block;
	width: 100%;
}

.pagina .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem 0;
}

#no h3{
	background: black;
	color: #fff;
	line-height: 1.4;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 1em 2em;
	border-radius: 3em;
	text-wrap: balance;
}


#final .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 0;
	border: 1px solid var(--color-acento);
	border-radius: .5em;
	overflow: hidden;
}

#final h1{
	background: var(--color-acento);
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
	margin: 0;
}

#final h3{
	color: var(--color-acento);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 3rem 1rem;
	border-radius: .5em;
	margin: -2rem 0 0;
}

#sexo .opciones{
	display: flex;
	justify-content: center;
	gap: 1rem;
}


#sexo .opcion{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

#sexo .opcion .visual{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: #DD612666;
	color: white;
	text-transform: uppercase;
}


#sexo .opcion .visual img{
	max-height: 50vh;
	object-fit: contain;
	aspect-ratio: 1/2;
}

#sexo .opcion input{
	display: none;
}


#sexo .opcion input:checked + .visual{
	background-color: var(--color-acento);
}

.ingreso{
	flex: 0 1 auto;
}

#espera{
	padding: 3rem 2rem;

	background-image: url(/img/mando/fondo_2.svg), url(/img/mando/fondo.svg);
	background-repeat: no-repeat;
	background-position: center, 100% 5%;
	background-size: contain, 30% auto;
}

#pregunta{
	padding: 10% 0 5%;

	background-image: url(/img/mando/fondo.svg);
	background-repeat: no-repeat;
	background-position: 100% 5%;
	background-size: 30% auto;
	overflow: auto;

	* {
		box-sizing: border-box;
		/* outline: 1px solid fuchsia; */
	}
}

#pregunta .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	gap: 1.5rem;
	padding: 0;
	text-align: center;
	max-width: 400px;
	max-height: 85vh;

}

#pregunta .contenido{
	font-size: 22px;
	line-height: 1.3;
	color: white;
	background: none;
	font-weight: 600;
	padding: 0 15dvw;
	text-align: center;
}


#pregunta .opciones{
	display: flex;
	flex-direction: column;
	gap: 0;
	padding: 0;
	position: relative;

	* {
		box-sizing: border-box;
		/* outline: 1px solid fuchsia; */
	}
}

#pregunta .opcion{
	font-size: 20px;
	background: none;
	color: white;
	font-weight: bold;
	padding: .5em;
	display: flex;
	align-items: center;
	overflow: hidden;
	gap: .5em;
	position: relative;
}

#pregunta .opcion[disabled]{
	opacity: 0.35;
}

#pregunta .opcion .letra{
	flex: 0 0 auto;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: clamp(1.2rem, 5vw, 4rem);
	line-height: 1.2;
	width: clamp(40px, 12vw, 60px);
	aspect-ratio: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pregunta .opcion .texto{
	background-color: transparent;
	color: white;
	text-align: left;
	flex: 1 1 auto;
	font-weight: normal;
}


#pregunta .opcion .seleccion{
	position: absolute;
	top: 0;
	left: 8px;
	bottom: 0;
	margin: auto 0;
}

#pregunta .tiempo{
	position: absolute;
	top: 3vh;
	left: 1rem;
	aspect-ratio: 1;
	background-color: white;
	color: #1434CB;
	border-radius: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1.2rem, 4vw, 1.7rem);
	padding: .25em;
	min-width: 2.5em;
}

#pregunta .opcion.seleccionada,
#pregunta .opcion.seleccionada .letra,
#pregunta .opcion.seleccionada .texto{
	color: #FFCB00;
}

#pregunta .opcion.correcta{
	background: #FFCB00;
	color: #1434CB;
}

#pregunta .opcion.correcta[disabled]{
	opacity: 0.85;
}

#pregunta .opcion.correcta .letra{
	background: #FFFFFF;
	color: #1434CB;
}

#pregunta .opcion.correcta .texto{
	color: #1434CB;
}

#pregunta .respuesta{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #000;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 2rem;
}

#pregunta .contestado{
	display: none;
	padding: 1rem;
	background-color: dimgray;
	color: white;
}

#espera .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	gap: 0rem;
	padding: 0 0 0.5rem;
	border: none;
	border-radius: 1rem;
	overflow: hidden;
	text-align: center;
	background: #FFF;
	padding: 2rem;
	gap: 1rem;
	width: 100%;
}


#espera .contenedor .titulo{
	font-size: 1.5rem;
	line-height: 1;
	color: #1434CB;
	font-weight: normal;
	text-align: center;
	padding: 0 1em;
}


#espera .contenedor .nombre{
	font-size: 2rem;
	line-height: 1;
	color: #1434CB;
	font-weight: bold;
	text-align: center;
	padding: 0 1rem;
}


#espera .contenedor .puntaje{
	font-size: 1.2rem;
	line-height: 1;
	color: #1434CB;
	font-weight: bold;
	text-align: center;
	padding: .5em 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}


#inicio{
	display: flex;
	flex-direction: column;
	justify-content: end;
}

#inicio .contenedor{
	margin-bottom: 20%;
}

#inicio button{
	background: 100%;

	padding: 0;
}

#inicio button img{
	width: 80vw;
}


#nombre .grupo{
	width: 90%;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: auto;
	gap: 1rem;
}

#nombre h1{
	line-height: 1.3;
	text-align: center;
	margin: 0;
}

.pagina .trivia_marca{
	position: absolute;
	top: 3vh;
	left: 5vw;
	right: 5vw;
	display: flex;
	justify-content: center;
}

.pagina .trivia_marca img{
	width: 240px;
	max-width: 45vw;
}

#espera .grupo{
	width: 85%;
	max-width: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}


#espera .grupo figure{
	padding: 0;
	margin: 0;
	width: auto;
	display: flex;
	justify-content: center;
}


#espera .valor{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	font-size: clamp(48px, 15vw, 100px);
	color: var(--color-primario);
}

#espera .valor img{
	width: 45px;
}



#final .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	gap: 0rem;
	padding: 0 0 0.5rem;
	border: none;
	border-radius: 1rem;
	overflow: hidden;
	text-align: center;
	background: #FFF;
	padding: 2rem;
	gap: 1rem;
	width: 100%;
}

#final .contenedor h1{
	background: none;
	color: var(--color-primario);
}

#final .contenedor .titulo{
	font-size: 1.5rem;
	line-height: 1;
	color: var(--color-primario);
	font-weight: normal;
	text-align: center;
	padding: 0 1em;
}


#final .contenedor .nombre{
	font-size: 2rem;
	line-height: 1;
	color: var(--color-primario);
	font-weight: bold;
	text-align: center;
	padding: 0 1rem;
}


#final .contenedor .puntaje{
	font-size: 1.2rem;
	line-height: 1;
	color: var(--color-primario);
	font-weight: bold;
	text-align: center;
	padding: .5em 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#final figure img{
	margin: auto;
}


#final .grupo{
	width: 85%;
	max-width: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}


#final .grupo figure{
	padding: 0;
	margin: 0;
	width: auto;
	display: flex;
	justify-content: center;
}


#final .valor{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	font-size: clamp(48px, 15vw, 100px);
	color: var(--color-primario);
}

#espera .valor img{
	width: 45px;
}
